@import "tailwindcss";
@import "./theme.css";
@import "./base.css";
@import "./components.css";
@import "./override.css";

@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@layer base, override;
