<header
	class="navbar bg-base-100 rounded-box border-base-200 mb-6 border shadow-sm"
>
	<div class="flex-1">
		<a class="btn btn-ghost text-xl">Admin Dashboard</a>
	</div>
	<div class="flex-none items-center gap-4 px-2">
		<button id="admin-deploy-btn" class="btn btn-sm btn-primary">
			Deploy
		</button>
		<button id="admin-logout-btn" class="btn btn-sm btn-error btn-outline">
			Logout
		</button>
	</div>
</header>
