---
interface Props {
	value?: boolean;
}

const { value = false } = Astro.props;
---

<label class="flex h-8 cursor-pointer items-center gap-2">
	<input
		type="checkbox"
		id="draft"
		name="draft"
		checked={value}
		class="toggle toggle-warning toggle-sm"
	/>
	<span class="text-xs">Draft</span>
</label>
