---
import AdminLayout from "@/admin/layouts/AdminLayout.astro";

export const prerender = false;
---

<AdminLayout>
	<div class="flex min-h-dvh items-center justify-center gap-4">
		<button class="btn btn-primary" id="login">Login</button>
		<button class="btn btn-secondary" id="logout">Logout</button>
	</div>

	<script>
		const { signIn, signOut } = await import("@/admin/auth/auth-client");
		const loginButton = document.querySelector("#login");
		const logoutButton = document.querySelector("#logout");

		if (!loginButton || !logoutButton) {
			throw new Error("Login or Logout button not found");
		}

		const urlParams = new URLSearchParams(window.location.search);
		const redirectTo = urlParams.get("redirectTo") ?? "/admin";

		loginButton.addEventListener("click", () =>
			signIn.social({
				provider: "github",
				callbackURL: redirectTo,
			}),
		);
		logoutButton.addEventListener("click", () => signOut());
	</script>
</AdminLayout>
