---
import GlobalLayout from "@app/layouts/GlobalLayout.astro";
import SearchForm from "@search/ui/SearchForm.astro";
import SearchResult from "@search/ui/SearchResult.astro";
---

<GlobalLayout title="Search">
	<main class="mx-auto max-w-[1096px] p-4">
		<div class="flex flex-col gap-8">
			<SearchForm />
			<SearchResult />
		</div>
	</main>
</GlobalLayout>

<script>
	import { initSearch } from "@search/client";
	document.addEventListener("astro:after-swap", initSearch);
	initSearch();
</script>
