---
import { Icon } from "astro-icon/components";
import DarkModeButton from "../../_components/DarkModeButton.astro";
import Card from "./Card.astro";
---

<Card
  class="flex-col justify-between gap-2"
>
  <h1 class="font-hachimaru 2x:text-xl flex text-lg font-bold">
    晴れときどき<br />崩壊ブログ
  </h1>
  <p class="2x:block mb-4 hidden text-xs">
    技術と日常を綴る<br />備忘録なのです
  </p>
  <div class="flex justify-end gap-2">

    <DarkModeButton 
      class="hover:rotate-30 duration-100"
      aria-label="Toggle theme">
      <Icon name="tabler:sun" class="h-8 w-8" />
    </DarkModeButton>

  </div>
</Card>

