@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@layer base, override;
@font-face {
	font-family: "Hachi Maru Pop";
	font-style: normal;
	font-weight: 700;
	/* @import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&weight=700&display=swap&text=晴れきどき崩壊ブログ"); */
	src: url("../../assets/font.woff2") format("woff2");
}

@theme {
	--font-hachimaru: "Hachi Maru Pop", cursive, sans-serif;
	--breakpoint-2x: 448px;
	--breakpoint-3x: 664px;
	--breakpoint-4x: 880px;
	--breakpoint-5x: 1096px;

	--spacing-1x: 224px;
	--spacing-2x: 448px;
	--spacing-3x: 664px;
	--spacing-4x: 880px;
	--spacing-5x: 1096px;

	--color-accent-50: var(--color-indigo-50);
	--color-accent-100: var(--color-indigo-100);
	--color-accent-200: var(--color-indigo-200);
	--color-accent-300: var(--color-indigo-300);
	--color-accent-400: var(--color-indigo-400);
	--color-accent-500: var(--color-indigo-500);
	--color-accent-600: var(--color-indigo-600);
	--color-accent-700: var(--color-indigo-700);
	--color-accent-800: var(--color-indigo-800);
	--color-accent-900: var(--color-indigo-900);
	--color-accent-950: var(--color-indigo-950);

	--color-gray-0: var(--color-white);
	--color-gray-1: var(--color-gray-200);
	--color-gray-2: var(--color-gray-300);
	--color-gray-3: var(--color-gray-400);
	--color-gray-4: var(--color-gray-600);
	--color-gray-5: var(--color-gray-700);
	--color-gray-6: var(--color-gray-800);
	--color-gray-7: var(--color-gray-900);
	--color-gray-10: var(--color-gray-900);

	/* --cursor-default: url("/circle-default.svg"), default; */
	/* --cursor-pointer: url("/circle-default.svg"), default; */
}

@layer base {
	/* Restore crucial styles from Tailwind Preflight: https://tailwindcss.com/docs/preflight */
	/* Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116) */
	*,
	::after,
	::before {
		border: 0 solid;
	}
	/* Keep base font-family styles even in non-Starlight pages. */
	html,
	:host {
		font-family: var(--font-sans);
	}
	code,
	kbd,
	samp,
	pre {
		font-family: var(--font-mono);
	}

	.dark {
		--color-gray-0: var(--color-gray-900);
		--color-gray-1: var(--color-gray-800);
		--color-gray-2: var(--color-gray-700);
		--color-gray-3: var(--color-gray-500);
		--color-gray-4: var(--color-gray-400);
		--color-gray-5: var(--color-gray-300);
		--color-gray-6: var(--color-gray-200);
		--color-gray-7: var(--color-gray-100);
		--color-gray-10: var(--color-white);
		--color-accent-low: var(--color-accent-200, #c7d2fe);
		--color-accent: var(--color-accent-600, #4f46e5);
		--color-accent-high: var(--color-accent-900, #312e81);

		/* --cursor-default: url("/circle-darkmode.svg"), default; */
		/* --cursor-pointer: url("/circle-darkmode.svg"), default; */
	}

	:root {
		--text-h1: var(--text-2xl);
		--text-h2: var(--text-xl);
		--text-h3: var(--text-lg);
		--text-h4: var(--text-base);
		--text-h5: var(--text-sm);
		--text-h6: var(--text-xs);
		--text-code: var(--text-sm);
		--text-code-sm: var(--text-xs);

		--color-bg-inline-code: var(--color-gray-2);
		--details-border-color: var(--color-gray-6);
		--details-border-color--hover: var(--color-slate-500);

		--line-height-headings: 1.2;
	}
}
