---
---

<form class="w-full">
  <input
      id="search"
      type="text"
      placeholder="Search..."
      class="w-full rounded-2xl p-4 mb-4 text-lg border-gray-2 border-2 focus:outline-none focus:ring-blue-500"
    />
</form>
