---
import GlobalLayout from "@/pages/_layouts/GlobalLayout.astro";
import SearchForm from "./_components/SearchForm.astro";
import SearchResult from "./_components/SearchResult.astro";
---

<GlobalLayout title="Search">
	<main class="mx-auto max-w-[1096px] p-4">
		<div class="flex flex-col gap-8">
			<SearchForm />
			<SearchResult />
		</div>
	</main>
</GlobalLayout>

<script>
	import { initSearch } from "./_client";
	document.addEventListener("astro:after-swap", initSearch);
	initSearch();
</script>
