---
import { getLiveEntry } from "astro:content";
import {} from "astro-icon";
import AdminLivePostLayout from "../../features/admin/_layouts/AdminLivePostLayout.astro";
import { getGitHubAccessToken } from "../../features/admin/_lib/github/client";

export const prerender = false;

const searchParams = new URL(Astro.request.url).searchParams;
const id = searchParams.get("id");

type LiveBlogEntry = NonNullable<
	Awaited<ReturnType<typeof getLiveEntry<"liveBlog">>>["entry"]
>;

let entry: LiveBlogEntry | undefined;
let errorMessage: string | undefined;

if (!id) return Astro.redirect("/admin");

let token: string;
try {
	token = await getGitHubAccessToken(Astro.request.headers);
} catch (e) {
	return Astro.redirect("/admin");
}

const result = await getLiveEntry("liveBlog", {
	id,
	token,
});

if (result.error) {
	errorMessage = result.error.message;
} else if (result.entry) {
	entry = result.entry;
} else {
	errorMessage = "Entry not found.";
}
---

{
	entry ? (
		<AdminLivePostLayout entry={entry} />
	) : (
		<div>
			<p class="m-4 text-red-600">{errorMessage}</p>
		</div>
	)
}
