---
# yamllint disable rule:line-length
name: Markdown Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        # v6.0.1
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup | Bun
        # v2.0.2
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
        with:
          bun-version-file: ".bun-version"

      - name: Setup | Install dependencies
        run: bun install --frozen-lockfile

      - name: Run markdownlint and apply fixes
        run: bun run markdownlint
        continue-on-error: true

      - name: Create Pull Request
        if: github.ref == 'refs/heads/main'
        # v7.0.11
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676
        with:
          commit-message: "chore: apply markdownlint fixes"
          title: "chore: apply markdownlint fixes"
          body: "This PR applies automatic fixes from markdownlint."
          branch: markdownlint-fixes
          delete-branch: true
          base: main
