name: Update Secrets

"on":
  workflow_dispatch:

jobs:
  update-secrets:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup | Bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76
        with:
          bun-version-file: ".bun-version"

      - name: Setup | Install dependencies
        run: bun install --frozen-lockfile

      - name: Run | Put BETTER_AUTH_SECRET
        run: echo "${{ secrets.BETTER_AUTH_SECRET }}" | bun wrangler secret put BETTER_AUTH_SECRET
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

      - name: Run | Put GH_OAUTH_CLIENT_SECRET
        run: echo "${{ secrets.GH_OAUTH_CLIENT_SECRET }}" | bun wrangler secret put GH_OAUTH_CLIENT_SECRET
        env:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
