---
interface Props {
	value?: boolean;
}

const { value = false } = Astro.props;
---

<div class="flex items-center gap-4">
	<label class="text-base-content text-sm font-bold">Draft</label>
	<input
		type="checkbox"
		id="draft"
		name="draft"
		checked={value}
		class="toggle checked:bg-secondary"
	/>
</div>
